# Folders containing builds
*/Debug
*/bin
*/obj
/Win32
/ipch

# NuGet packages
/packages

# Test projects
/*Test

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilk
*.exp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pdb

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app